<!--Before you can authenticate against this service, you must authorize this application to access your data-->
<!--<p><%#= link_to "Click here", "https://github.com/login/oauth/authorize?scope=user:email&client_id=30277eee4d73b9f8e2bb" %> to authorize your app with Github!</p>-->

<%= javascript_pack_tag 'hello_react' %>
